@import "reset";

/* USER VARIABLES SECTION */

:root {

  --purple: #532dbb;
  --orchid: #9747ff;
  --yellow: #fafa59;
  --white: #ffffff;
  --black: #000000;
  --gray: #E4E4E4;
  
  --accent: var(--purple);
  --text: var(--black);
  --regular-text: 18px;
  --lineheight: 1.46;
  --userfont1: 'Manrope', sans-serif;
  --userfont2: 'Unbounded', cursive;
}

/* FONTS LOAD SECTION */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700;800&family=Unbounded&display=swap');

/* GENERAL CSS SETTINGS */

// ::placeholder { color: #aaaaaa; }
::placeholder { color: #ffffff; }
::selection { background-color: var(--accent); color: var(--color-white); }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

body {
  font-family: var(--userfont1);
  font-size: var(--regular-text);
  line-height: var(--lineheight);
  color: var(--text);
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  @media (max-width: 1199.98px) {
    font-size: 16px;
  }
}

a {
  transition: all .2s ease;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.h1, h1 {
  font-size: calc(1.375rem + 1.5vw);
}
.h2, h2 {
  font-size: calc(1.325rem + .9vw);
}
.h3, h3 {
  font-size: calc(1.3rem + .6vw);
}
.h4, h4 {
  font-size: calc(1.275rem + .3vw);
}
.h5, h5 {
  font-size: 1.25rem;
}
.h6, h6 {
  font-size: 1rem;
}

p {
  margin-bottom: 1rem;
}

.container {
  max-width: 1399.98px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 35px;
  font-family: var(--userfont2);
  margin-bottom: 42px;
  @media (max-width: 767.98px) {
    font-size: 30px;
    margin-bottom: 32px;
  }
  @media (max-width: 575.98px) {
    font-size: 26px;
  }
}

// Video full
.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video-container video {
  min-width: 110%;
  min-height: 110%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.d-none { display: none !important; }

/* USER STYLES */

@import "blocks/preloader";
@import "blocks/form";
@import "blocks/accordion";

@import "blocks/header";
@import "blocks/advantage";
@import "blocks/services";
@import "blocks/work";
@import "blocks/cta";
@import "blocks/client";
@import "blocks/about";
@import "blocks/experience";
@import "blocks/faq";
@import "blocks/cargo";
@import "blocks/footer";
@import "blocks/scrollup";
@import "blocks/spacing";
@import "blocks/sweetalert2";
