@import "reset";

/* USER VARIABLES SECTION */

:root {

  --purple: #532dbb;
  --orchid: #9747ff;
  --yellow: #fafa59;
  --white: #ffffff;
  --black: #000000;
  
  --accent: var(--purple);
  --text: var(--black);
  --regular-text: 16px;
  --lineheight: 1.46;
  --userfont1: 'Manrope', sans-serif;
  --userfont2: 'Unbounded', cursive;
}

/* FONTS LOAD SECTION */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700;800&family=Unbounded&display=swap');

/* GENERAL CSS SETTINGS */

::placeholder { color: #aaaaaa; }
::selection { background-color: var(--accent); color: var(--color-white); }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

body {
  font-family: var(--userfont1);
  font-size: var(--regular-text);
  line-height: var(--lineheight);
  color: var(--text);
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
}

a {
  transition: all .2s ease;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.h1, h1 {
  font-size: calc(1.375rem + 1.5vw);
}
.h3, h3 {
  font-size: calc(1.3rem + .6vw);
}

.title {
  font-size: 35px;
  font-family: var(--userfont2);
  margin-bottom: 42px;
}

/* USER STYLES */

@import "blocks/form";

@import "blocks/header";
@import "blocks/advantage";
@import "blocks/services";



