.about-section {
  // padding-top: 50px;
  padding-bottom: 50px;

  &__row {
    --gap: 30px;
    display: flex;
    // justify-content: space-between;
    gap: var(--gap);
  }
  &__text {
    width: calc(50% - var(--gap) / 2 );
    align-self: center;
  }
  &__image {
    width: calc(50% - var(--gap) / 2 );
    img {
      width: 100%;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      min-height: 400px;
    }
  }
}


@media (max-width: 767.98px) {
  .about-section {
    &__row {
      flex-direction: column;
    }
    &__text,
    &__image {
      width: auto;
      flex-grow: 1;
    }
  }
}