.client-section {
  padding-top: 50px;
  padding-bottom: 50px;
  &__row {
    --gap: 20px;
    --elements: 7;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--gap);
  }
  &__item {
    // flex-grow: 1;
    min-width: 90px;
    text-align: center;
    width: calc((100% - (var(--elements) - 1) * var(--gap)) / (var(--elements)));
    img {
      filter: grayscale(100);
      &:hover {
        filter: grayscale(0);
      }
    }
  }
}


@media (max-width: 767.98px) {
  .client-section {
    &__row {
      --gap: 10px;
    }
  }
}


@media (max-width: 575.98px) {
  .client-section {
    &__row {
      --gap: 5px;
    }
  }
}