.footer {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--white);
  
  .container {
    position: relative;
  }

  a {
    color: var(--white);
    &:hover {
      color: var(--yellow);
    }
  }

  &__row {
    display: flex;
    column-gap: 10%;
    row-gap: 30px;
    >div {
      flex: 1 0 0%;
    }
  }
  
  &__col {
  }

  &__adress {
    font-family: var(--userfont2);
  }

  &__hr {
    margin: 50px 0;
    color: inherit;
    border: 0;
    border-top: var(--white) solid;
    opacity: .25;
  }

  // .footer__text

  &__text {
    font-size: 20px;
    margin-bottom: 30px;
  }

  // .footer__form

  &__form {
  }

  // .footer__nospam

  &__nospam {
    font-size: 14px;
    margin-top: 25px;
  }

  // .footer__contact

  &__contact {
    a {
      font-family: var(--userfont2);
      display: inline-block;
      font-size: 34px;
    }
  }

  &__social {
    margin-top: 65px;
    display: flex;
    column-gap: 10px;
    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__bottom {
    margin-top: 50px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
  }
  &__info {
    text-align: center;
    width: 220px;
    flex-shrink: 0;
  }
  &__copyright {
    margin-top: 10px;
    font-size: 14px;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    column-gap: 20px;
    row-gap: 10px;
    font-size: 14px;
  }

}

@media (max-width: 991.98px) {
  .footer {
    &__row {
      column-gap: 5%;
    }
    &__contact a {
      font-size: 26px;
    }
  }
}

@media (max-width: 767.98px) {
  .footer {
    &__row {
      flex-direction: column;
      row-gap: 15px;
    }
    &__hr {
      margin: 15px 0;
    }
    &__text {
      margin-bottom: 15px;
    }
    &__contact a {
      font-size: 20px;
    }
    &__social {
      margin-top: 15px;
    }
    &__bottom {
      margin-top: 15px;
    }
    &__nav {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
}

@media (max-width: 575.98px) {
  .footer {
    &__bottom {
      flex-direction: column;
    }
    &__info {
      order: 2;
    }
  }
}