.padding-t { padding-top: 50px; }
.padding-b { padding-bottom: 50px; }
.padding-y { padding-top: 50px; padding-bottom: 50px; }

.margin-t { margin-top: 50px; }
.margin-b { margin-bottom: 50px; }
.margin-y { margin-top: 50px; margin-bottom: 50px; }