.work-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--black);
  color: var(--white);


  .title {
    color: var(--white);
  }
  &__list {
    --gap: 30px;
    --elements: 5;
    position: relative;
    padding-top: 30px;
    counter-reset: mycount;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    gap: var(--gap);
  }

  &__line {
    position: absolute;
    left: 0;
    top: 0;
    height: 3px;
    width: 85.4%;
    background: linear-gradient(90deg, var(--yellow) 31.03%, var(--purple) 50%);
    margin-bottom: 30px;
    &::after {
      content: '';
      position: absolute;
      top: -7px;
      right: 0;
      width: 18px;
      height: 18px;
      background-color: var(--orchid);
    }
  }

  &__item {
    width: calc((100% - (var(--elements) - 1) * var(--gap)) / (var(--elements)));
    position: relative;
    padding-top: 30px;
    padding-left: 30px;
    font-weight: 700;
    counter-increment: mycount;
    &::before {
      content: counter(mycount);
      font-size: 68px;
      line-height: 1;
      font-family: var(--userfont2);
      color: var(--orchid);
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0.6;
      width: 53px;
      text-align: center;
      transition: all .2s ease;
    }
    p {
      // font-size: 18px;
      position: relative;
      margin-bottom: 0;
    }

    &:hover {
      &::before {
        top: -10px;
      }
    }
  }
  
}



@media (max-width: 991.98px) {
  .work-section {
    &__list {
      --gap: 20px;
      --elements: 1;
      flex-direction: column;
      padding-top: 0;
      padding-left: 20px;
    }
    &__line {
      top: 12px;
      width: 3px;
      height: 90%;
      background: linear-gradient(180deg, var(--yellow) 31.03%, var(--purple) 50%);
      &::after {
        top: auto;
        bottom: -7px;
        right: -7px;
      }
    }
    &__item {
      width: auto;
      display: flex;
      align-items: center;
      font-weight: 400;
      gap: 20px;
      padding: 0;
      &::before {
        position: static;
      }
    }
  }
}


@media (min-width: 768px) and (max-width: 991.98px) {
  .work-section {
    &__inner {
      display: flex;
      column-gap: 30px;
    }
    &__list {
      width: calc(50% - 15px);
    }
    .title {
      width: calc(50% - 15px);
    }
  }
}